@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1);
    }
}

body {
    font-family: "Roboto", sans-serif;
}
  
.bi-container {
    max-width: 100%;
    font-family: "Roboto", sans-serif;
    background: #deff9d;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.6);
    position: relative;
}
  
.bi-container h2.index-heading {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 16px;
    padding-top: 16px;
}

.table-of-blogs {
    list-style: none;
    padding: 0px;
}     
.profile {
    text-decoration: none;
    color: white;
    margin-right: 24px;
    padding: 16px;
    transition: 300ms;
    cursor: pointer;
    z-index: 2;
}

.profile span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 300ms;
}

.profile span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.profile:hover span{
    padding-right: 25px;
}

.profile:hover span:after {
    opacity:1;
    right: 0;
}
.blog-list {
    padding:0px;
    display: none;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.6);
    z-index: 3;
    position: absolute;
    width: 100%;
}

.show {
    display: block;
} 
.dropdown_menu-1{
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}


.table-of-blogs li.content li.blog {
    background: #222;
    transition: 400ms;
    list-style: none;
}

.table-of-blogs div.author{
    background-color: yellowgreen;
    transition: 400ms;
}

.table-of-blogs li.content li:nth-of-type(even).blog {
    background: #2e2e2e;
}
  
.table-of-blogs li.content li:hover.blog {
    background: #000;
}

.table-of-blogs li.content:hover div.author {
    background-color: darkblue;
}
  
.table-of-blogs li.blog a {
    text-decoration: none;
    color: #fff;
    margin-left: 24px;
    margin-right: 24px;
    padding: 16px 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-of-blogs span.author-name{
    text-decoration: none;
    color: #fff;
    margin-left: 24px;
    margin-right: 24px;
    padding: 16px 0;
    display: block;
    font-size: 110%;
    font-weight: 100;
}

.author {
    display: flex;
    justify-content: space-between;
}
